{% load static %}

<html>

<head>

  <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">

</head>

<body>

  <h2 style="text-align:center;">Login</h2>

  {% if form.errors %}
  <p style="color:red;text-align:center;">Invalid username or password</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">

    {% csrf_token %}

    <div style="text-align:center">

      {{ form.username.label_tag }}
      <br>
      {{ form.username }}

      <br><br>

      {{ form.password.label_tag }}
      <br>
      {{ form.password }}

      <br><br>

      <button type="submit">Login</button>

      <br><br>

      <a href="{% url 'register' %}">Create new account</a>

    </div>

  </form>

</body>

</html>