{% load static %}
<html>

<head>
	<title>Finance Manager</title>
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>

	<div class="home">

		{% if user.is_authenticated %}

		<h2>Welcome, {{ user.username }}!</h2>

		<a href="{% url 'expenses' %}">Open Expenses</a>
		<br><br>
		<a href="{% url 'logout' %}">Logout</a>

		{% else %}

		<h1>Welcome to Finance Manager</h1>

		<br>

		<a href="{% url 'register' %}">Register</a>

		<br><br>

		<a href="{% url 'login' %}">Login</a>

		{% endif %}

	</div>

</body>

</html>