body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#4facfe,#00f2fe);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.home{
    background:white;
    padding:50px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.home h2{
    margin-bottom:30px;
}

.home a{
    display:block;
    width:200px;
    margin:10px auto;
    padding:12px;
    background:#007bff;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.home a:hover{
    background:#0056b3;
}